{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <legend class="border-bottom mb-4">{{ legend }}</legend>
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-secondary btn-sm btn-block font-weight-bold">
          PDCN Merging
        </button>
        <div>
            <a class="dropdown-item" href="{{ url_for('database.pdcn_pair_add') }}">Add PDCN Pairs</a>
            <a class="dropdown-item" href="{{ url_for('database.pdcn_pair_remove') }}">Remove PDCN Pairs</a>
        </div>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-secondary btn-sm btn-block font-weight-bold">
          WSLR Merging
        </button>
        <div>
            <a class="dropdown-item" href="{{ url_for('database.wslr_fam_add') }}">Add WSLR Group</a>
            <a class="dropdown-item" href="{{ url_for('database.wslr_fam_remove') }}">Remove WSLR Groups</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-secondary btn-sm btn-block font-weight-bold">
          Product Info
        </button>
        <div>
            <a class="dropdown-item" href="#">Product Info</a>
            <a class="dropdown-item" href="#">PDCN Info</a>
        </div>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-secondary btn-sm btn-block font-weight-bold">
          Ordering
        </button>
        <div>
            <a class="dropdown-item" href="#">Inventory/Forecast History</a>
            <a class="dropdown-item" href="#">Stats</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
