{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <legend class="border-bottom mb-4">{{ legend }}</legend>
    <div class="row">
      <div class="col-sm">
        {% if current_user.is_authenticated %}
          <div class="col-md-6">
            <p class="font-weight-normal">
              Reports, database management, blah blah blah.
            </p>
          </div>
        {% else %}
          <div class="col-md-4">
            <form method="POST" action="">
              {{ login_form.hidden_tag() }}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                  {{ login_form.email.label(class="form-control-label") }}
                  {% if login_form.email.errors %}
                  {{ login_form.email(class="form-control form-control-sm is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in login_form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ login_form.email(class="form-control form-control-sm") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ login_form.password.label(class="form-control-label") }}
                  {% if login_form.password.errors %}
                  {{ login_form.password(class="form-control form-control-sm is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in login_form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ login_form.password(class="form-control form-control-sm") }}
                  {% endif %}
                </div>
                <div class="form-check">
                  {{ login_form.remember(class="form-check-input") }}
                  {{ login_form.remember.label(class="form-check-label") }}
                </div>
              </fieldset>
              <div class="form-group">
                {{ login_form.submit(class="btn btn-outline-info") }}
                <small class="text-muted ml-2">
                  <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                </small>
              </div>
            </form>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
