{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <div class="row">
    <div class="col-md-8">
      
    </div>
    <div class="col-md-4">
      <p>
        <table class="table table-striped table-sm table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Main PDCN</th>
              <th scope="col">Alt. PDCN</th>
            </tr>
          </thead>
          <tbody>
            {% for pdcnPair in pdcnPairList %}
            <tr>
              <th scope="row">{{ pdcnPair.pdcnMain }}</th>
              <td>{{ pdcnPair.pdcnAlt }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
