{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="row">
        <div class="col-md-8">
          <form method="POST" action="">
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">{{ legend }}</legend>
                  <div class="form-group">
                      {{ form.pdcnMain.label(class="form-control-label") }}

                      {% if form.pdcnMain.errors %}
                          {{ form.pdcnMain(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.pdcnMain.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.pdcnMain(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="form-group">
                      {{ form.pdcnAlt.label(class="form-control-label") }}
                      {% if form.pdcnAlt.errors %}
                          {{ form.pdcnAlt(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.pdcnAlt.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.pdcnAlt(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
              </fieldset>
              <div class="form-group">
                  {{ form.submit(class="btn btn-outline-info") }} ||
                  <a href="{{ url_for('db_mgmt.db_manager') }}">Back to Database Manager</a>
              </div>
          </form>
        </div>
        <div class="col-md-4">
          <p>
            <table class="table table-striped table-sm table-hover">
              <caption>PDCN pairs for merging</caption>
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Main PDCN</th>
                  <th scope="col">Alt. PDCN</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                </tr>
              </tbody>
          </table>
          </p>
        </div>
      </div>
    </div>
{% endblock content %}
