{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="row">
        <div class="col-md-12">
          <legend class="border-bottom mb-4">Remove Wholesaler Family</legend>
        </div>

        <div class="col-md-8">
          <ul>
            <li>Select any wholesaler families you want to remove with the checkboxes to the left, then click submit.</li>
            <li>There will be no confirmation and there is no "Undo" button. Choose carefully.</li>
          </ul>
        </div>
        <div class="col-md-4">
          <form method="POST" action="">
            {{ removeFam.hidden_tag() }}
            <fieldset class="form-group">
            <table class="table table-striped table-sm table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Main PDCN</th>
                  <th scope="col">Alt. PDCN</th>
                </tr>
              </thead>
              <tbody>
                {% for wslrFam in wslrFamList %}
                <tr>
                  <th scope="row">
                    {{ removeFam.removeCheck(class="form-check-input", value = wslrFam.id ) }}
                    {{ wslrFam.name }}
                  </th>
                  <td>{{ wslrFam.nums }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </fieldset>
            <div class="form-group">
              {{ removeFam.submit(class="btn btn-outline-info") }}<br>
              <a href="{{ url_for('database.database_manager') }}">Back to Database Manager</a>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}
